<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=oracle_user;Password=oracle_user_password;Data Source=oracle" />
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.142.150:1521/orcl.localdomain;TNS_ADMIN=C:\Users\Polina\Oracle\network\admin;PASSWORD=qwerty;PERSIST SECURITY INFO=True;USER ID=BB_ADMIN&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <oracle.manageddataaccess.client>
    <version number="*">
      <implicitRefCursor>
        <storedProcedure schema="BB_ADMIN" name="GETDONOR">
          <refCursor name="CLIENTS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="DONOR_NAME" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="BB_ADMIN" name="GETDONORS">
          <refCursor name="CLIENTS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="DONOR_ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="DONOR_NAME" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="DONOR_BLOOD_GROUP" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="DONOR_PHONE_NUMBER" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="DONOR_ADDRESS" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="LAST_DONATION_DATE" providerType="Date" allowDBNull="false" nativeDataType="Date" />
            <metadata columnOrdinal="6" columnName="DONOR_STATUS" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="BB_ADMIN" name="GETTAKERS">
          <refCursor name="TAKERS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="TAKER_ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="TAKER_NAME" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="TAKER_BLOOD_GROUP" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="TAKER_ADDRESS" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="TAKER_PHONE_NUMBER" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="BB_ADMIN" name="GETBLOOD_BANKS">
          <refCursor name="BLOOD_BANKS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="BLOODBANK_ID" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="1" columnName="BLOODBANK_NAME" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="BLOOD_GROUP" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="BLOOD_AMOUNT" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="4" columnName="BLOOD_STATUS" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="CHECKING_DATE" providerType="Date" allowDBNull="true" nativeDataType="Date" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="BB_ADMIN" name="GETTRANSFER_DETAILS">
          <refCursor name="TRANSFER_DETAILS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="TRANSER_ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="BLOODBANK_ID" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="DONOR_ID" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="3" columnName="TAKER_ID" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="4" columnName="BLOOD_GROUP" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="5" columnName="BLOOD_AMOUNT" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
            <metadata columnOrdinal="6" columnName="TRANSFER_DATE" providerType="Date" allowDBNull="true" nativeDataType="Date" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="BB_ADMIN" name="FIND_DONORS_BY_BLOODGROUP">
          <refCursor name="DONOR_CURSOR">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="DONOR_ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="DONOR_NAME" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="DONOR_PHONE_NUMBER" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="DONOR_ADDRESS" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="LAST_DONATION_DATE" providerType="Date" allowDBNull="false" nativeDataType="Date" />
            <metadata columnOrdinal="5" columnName="DONOR_STATUS" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="BB_ADMIN" name="FIND_AVAIL_DONORS_BY_GR_ADDR">
          <refCursor name="DONOR_CURSOR">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="DONOR_ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="DONOR_NAME" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="DONOR_PHONE_NUMBER" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="DONOR_ADDRESS" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="DONOR_STATUS" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="BB_ADMIN" name="FIND_UNAVAIL_DONORS_BY_GR_ADDR">
          <refCursor name="DONOR_CURSOR">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="DONOR_ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="DONOR_NAME" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="DONOR_PHONE_NUMBER" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="DONOR_ADDRESS" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="DONOR_STATUS" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="BB_ADMIN" name="GET_BLOOD_LEADER">
          <refCursor name="BLOOD_LEADER_CURSOR">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="DONOR_ID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="DONOR_NAME" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="DONOR_PHONE_NUMBER" providerType="Varchar2" allowDBNull="true" nativeDataType="Varchar2" />
            <metadata columnOrdinal="3" columnName="DONOR_ADDRESS" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="4" columnName="TOTAL_BLOOD_AMOUNT" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="BB_ADMIN" name="VOLUME_OF_BLOOD_TRANSF_ON_DATE">
          <refCursor name="VOLUME_RESULT">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="TOTAL_VOLUME_ON_DATE" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="BB_ADMIN" name="NUM_OF_TRANSF">
          <refCursor name="NUM_OF_TRANSF_RESULT">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="NUMBER_OF_TRANSF" providerType="Decimal" allowDBNull="true" nativeDataType="Number" />
          </refCursor>
        </storedProcedure>
        <storedProcedure schema="BB_ADMIN" name="GETACCOUNTS">
          <refCursor name="ACCUNTS">
            <bindInfo mode="Output" />
            <metadata columnOrdinal="0" columnName="USERID" providerType="Decimal" allowDBNull="false" nativeDataType="Number" />
            <metadata columnOrdinal="1" columnName="LOGIN" providerType="Varchar2" allowDBNull="false" nativeDataType="Varchar2" />
            <metadata columnOrdinal="2" columnName="PASSWORD" providerType="NVarchar2" allowDBNull="true" nativeDataType="NVarchar2" />
          </refCursor>
        </storedProcedure>
      </implicitRefCursor>
    </version>
  </oracle.manageddataaccess.client>
</configuration>